<h2>Food Allergy Details</h2>
<ol>
{{#each viewData}}
<li class="info">
  <div class="food-info">
    <p>name: {{name}}</p>
<p>food preference: {{food_preference}}</p>

  </div>
</li>
{{/each}}

</ol>

