<div class="info-body">
<h2 class="info-header">Food Allergy Details</h2>
<div class="food-container">
{{#each viewData}}
  <div class="food-info">
    <h3>{{name}}</h3>
    
    <p>{{food_preference}}</p>
    
 </div>
{{/each}}
</div>

</div>
