<div>
  <h2>Add Allergy Details</h2>

  
  <form method="post" class="form" action="/">
  <label for="name">name</label>
  <input type="text" id="name" name="name" placeholder="name">
  <br>
  <br>
  <label for="phone">phone</label>
  <input type="text" id="phone" name="phone" placeholder="phone number">
  <br>
  <br>
  <label for="allergy_details">allergy details</label>
  <input type="text" id="allergy_details" name="allergy_details" placeholder="allergy_details">
  <br>
  <br>
  <button>add details</button>
  </form>
  

</div>
