.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  z-index: 3;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  float: left;
  background-color: transparent;
  font-family: 'Lora';
  color: #f7ebec;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f7ebec;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.active {
  background-color: #264653;
}

.navbar a:hover {
  background-color: #000;
}
