<!DOCTYPE html>
<html>

<head>
  <title>Dev Academy Phase 1 Express Boilerplate</title>
  <link rel="stylesheet" href="main-style.css">
  <script>src="navbar.js"</script>
  <link rel="stylesheet" href="info.css">
</head>
<body>
{{>navbar}}
{{>background-video}}

  {{{body}}}
</body>

</html>
